In [3]:
import toml
import os
import pandas as pd
import cv2

In [2]:
dict_toml = toml.load(open('../config.toml'))

In [3]:
image_path = dict_toml["path"]["dataset"]["image"]

In [4]:
image_df = pd.read_table(image_path+"/list_attr_celeba.txt", header=0,sep=" ", index_col=0)

In [5]:
image_df[["Male"]]

            Male
000001.jpg    -1
000002.jpg    -1
000003.jpg     1
000004.jpg    -1
000005.jpg    -1
...          ...
202595.jpg    -1
202596.jpg     1
202597.jpg     1
202598.jpg    -1
202599.jpg    -1

[202599 rows x 1 columns]

In [18]:
f = open('../not_detected.txt', 'r')

datalist = f.read().splitlines()
f.close()

In [19]:
data = [not i in datalist for i in image_df.index]

In [20]:
image_df[data]["Male"]

000001.jpg   -1
000002.jpg   -1
000003.jpg    1
000005.jpg   -1
000007.jpg    1
             ..
202595.jpg   -1
202596.jpg    1
202597.jpg    1
202598.jpg   -1
202599.jpg   -1
Name: Male, Length: 182367, dtype: int64

In [22]:
os.listdir("../../voice/train/F/")

['VCC2SF1', 'VCC2TF2', 'VCC2SF2', 'VCC2SF4', 'VCC2SF3', 'VCC2TF1']

In [ ]:
for i in os.listdir("../../voice/train/F/VCC2SF1"):
    a = pd.read_pickle("../../voice/train/F/VCC2SF1/"+i)
    print(a.shape)

# dataloader

## transform

In [45]:
class VoiceTrans(object):
    def __init__(self):
        pass

    def norm_voice(self, array):
        min = array.min()
        array -= min 
    
        max = array.max()
        array /= max
    
        return array
    
    def cut(self, voice):
        return voice[:, :voice.shape[1]-voice.shape[1]%4]
    
    def __call__(self, sample):
        
        return self.cut(self.norm_voice(sample))

In [46]:
voice = pd.read_pickle("../../voice/train/VCC2SF1/10001.pkl")

In [47]:
t = VoiceTrans()
t(voice).shape

(36, 264)

# dataset

In [51]:
import torch
class VoiceDataset(torch.utils.data.Dataset):
    def __init__(self):
        pass